/** Genericos **/

html {
    font-size: 62.5%;
}
body {
    background-color: #f5f3f3
}
h1 {
    text-align: center;
}
h2 {
    font-size: 3rem;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}

/***************** MOdal Bienvenida ******************/
.swal2-styled {
    padding: 0 30px!important;
}

.swal2-popup {
    width: 48em;
    max-width: 53em;
    max-height: 68em;
}

.swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: 2.9em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}

.swal2-html-container {
    z-index: 1;
    justify-content: center;
    margin: 1em 1.6em .3em;
    padding: 0;
    overflow: auto;
    color: inherit;
    font-size: 2em;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
}

.swal2-styled.swal2-confirm {
    font-size: 1.5em;
    font-weight: bold;
}

hr {
    margin-top: 3rem;
    margin-bottom: 0;
}

.swal2-footer {
    gap: 0.4rem;
    font-size: 2em;
}

/********************* Headear **********************/

header {
    padding: 20px 0 0 0;
    text-align: center;
}

.contenedor-header{
    display: flex;
    margin: 2rem 4rem;
    align-items: center;
    gap: 2rem;
}

@media (min-width: 750px) {
    header {
        text-align: left;
    }
}

.logo{
    width: 15rem;
    margin-bottom: 1rem;
}


.contenido-hero {
    margin: 0 auto;
    color: black;
    width: 30%;
}

.contenido-hero form {
    position: relative;
    margin-bottom: 0;
}

.contenido-hero form #buscador {
    height: 5rem;
    width: 100%;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}

.contenido-hero form .submit-buscador {
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    padding: 0;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border:none;
}

.u-full-width {
    width: 100%;
    box-sizing: border-box; }

.img-carrito{
    position: inherit;
    top: 2rem;
    left: 5rem;
}

.calificacion {
    width: 10rem;
}

.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/************************* Carrito ***********************/

ul {
    list-style: none;
}

th,td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,td:first-child {
    padding-left: 0; }

th:last-child,td:last-child {
    padding-right: 0; }

#hero {
    background-image:url(../img/imagenhero.png);
    height: 350px;
    background-size: contain;
}
#encabezado {
    margin: 30px 0;
    font-size: 5rem;
    font-weight: bold;
}
.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

.badge {
    --bs-badge-font-size: 1.3em;
}

.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.cupon-carrito{
    margin: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.precio-carrito{
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}


.botones-carrito{
    display: flex;
    gap: 1rem;
}

.vaciar:hover{
    background-color: rgba(185, 30, 30, 0.856);;
    color: white;
}

.finalizar:hover{
    background-color: rgba(33, 136, 7, 0.856);
    color: white;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: #f09138;
    border-color: #f09138; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #fc7e09;
    border-color: #fc7e09; }


.btn-success, .btn-danger{
    margin: 0.5rem;
    font-size: 1.5rem;
    padding: 0 2rem;
}

.barra {
    padding: 3rem 0;
    background: #ff8500;
    background: linear-gradient(62deg, #ff8500 0%, #f7a352 33%, #F7CE68 66%, #ffd1ac 100%);
    display: flex;
    justify-content: space-around;
}

.barra p {
    margin:0;
    padding: 0.5rem;
    color: rgb(72, 72, 72);
    font-size: 1.5rem;
    font-weight: bold;
}
.icono {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 45px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 750px) {
    .icono {
        margin-bottom:0;
    }
}

.icono1 {
    background-image: url(../img/icono1.png);
}
.icono2 {
    background-image: url(../img/icono2.png);
}
.icono3 {
    background-image: url(../img/icono3.png);
}

/********************** CARD Cursos ***********************/

.listado-curso{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 2rem 2rem;
    align-items: stretch;
}

#lista-cursos .row {
    margin-bottom:20px;
}
.agregar-carrito {
    margin:10px 0;
}

.card {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
    transition: 0.3s ease-in;
    height: 100%;
}

.card:hover{
    box-shadow: 26px 26px 51px #bebebe, 
                -26px -26px 51px #ffffff;
}

@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}
.info-card  {
    padding: 10px 20px;
}

.info-card p, 
.card h4 {
    margin-bottom: 5px;
}
.info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}

.precio-descuento {
    float: right; }

/*********************** Footer *************************/

.footer {
    margin-top: 40px;
    border-top:1px solid #aaa;;
    padding-top: 40px;   
}
.footer .menu a{
display: block;
margin-bottom: 10px;
text-decoration: none;
}


/********************** Dark MOde **********************/
body {
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #050505;
    color: white;
}

/********************** Boton Whatapp **********************/
.btn-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    color: white;
    background-color: #4dc247;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    border-radius: 50%;
    width: 5rem;
    padding: 1rem;
    border: 3px solid white;
}